:root {
	--background: #fcfeff;
	--text: rgb(29, 29, 29);
	--description: #1d1d1d;
	--description2: #525252;
	--profile-drop-down-background: white;
	--profile-drop-down-background-shadow: rgba(150, 150, 150, 0.4);
	--profile-drop-down-background-hover: whitesmoke;
	--search-background: #f3f3f4;
	--home-item-background: #c4c4c444;
	--paste-border: #21212133;
	--code-background: white;
	--button: #24a3d9;
	--button-hover: #1f8dbd;
	--text-muted: #626262;
	--text-muted2: #414141;
	--badge-purple: rgba(37, 33, 255, 0.29);
	--badge-purple-text: #2521ff;
	--menu: rgb(230, 230, 230);
	--scrollbar-bg: whitesmoke;
	--loadingImage0: rgb(240, 240, 240);
	--loadingImage100: rgb(200, 200, 200);
}

[theme="dark"] {
	--background: #0b0411;
	--text: rgb(255, 255, 255);
	--description: #1d1d1d;
	--description2: white;
	--profile-drop-down-background: #221031;
	--profile-drop-down-background-shadow: #0a0310;
	--profile-drop-down-background-hover: #341d47;
	--search-background: #221031;
	--home-item-background: #221031;
	--paste-border: #2d1640;
	--code-background: #160921;
	--button: #612fd7;
	--button-hover: #4b24a5;
	--text-muted: rgb(200, 200, 200);
	--text-muted2: rgb(215, 215, 215);
	--badge-purple: rgba(68, 0, 255, 0.63);
	--badge-purple-text: white;
	--menu: #34273f;
	--scrollbar-bg: #2d1640;
	--loadingImage0: #160921;
	--loadingImage100: #271238;
}
