@font-face {
  font-family: "main";
  src: url(./fonts/AfrooBold.ttf) format("truetype");
}

* {
  font-family: "main";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content__wrapper {
  padding: 30px;
}

body {
  direction: rtl;
  color: rgb(29, 29, 29);
  background-color: #fcfeff;
}
